.e-clearfix:before,
.e-clearfix:after {
  content: " ";
  display: table;
}
.e-clearfix:after {
  clear: both;
}
.e-table-display,
.e-fn-grid-pager .grid-nav,
.grid-nav-wrapper .grid-nav {
  display: table;
}
.e-table-display > *,
.e-fn-grid-pager .grid-nav > *,
.grid-nav-wrapper .grid-nav > * {
  display: table-cell;
}
.e-list-override {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.e-list-override li {
  margin: 0;
  padding: 0;
}
.e-remove-last-child-margins > *:last-child,
.e-remove-last-child-margins > *:last-child > *:last-child,
.e-remove-last-child-margins > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}
.e-h1 {
  font-size: 30px;
  font-weight: 200;
  line-height: 40px;
  margin-bottom: 25px;
}
.e-h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 25px;
}
.e-h3 {
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 15px;
}
.e-h4 {
  font-size: 15px;
  font-weight: normal;
  line-height: 26px;
}
.e-h5 {
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 0;
}
.e-h6 {
  font-size: 11px;
  line-height: 18px;
}
.e-a {
  color: #2585c7;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.e-a:hover {
  color: #0e68a4;
  text-decoration: underline;
}
.e-p {
  font-size: 13px;
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 18px;
}
.e-small {
  color: #8c8c8c;
  font-size: 11px;
  line-height: 18px;
}
.e-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.disabled {
  opacity: .35;
}
.table-wrap table:not(.table-auto) {
  border-collapse: collapse;
  width: 100%;
}
.table-wrap tbody tr:hover td,
.table-wrap tbody tr.hover td {
  background-color: rgba(37, 133, 199, 0.04);
  border-top: 1px double #b5b5b5;
  border-bottom: 1px double #b5b5b5;
}
.table-wrap tbody tr:nth-child(odd):not(.hover):not(:hover) td {
  background-color: #ffffff;
}
.table-wrap tbody tr:nth-child(odd):not(.hover):not(:hover) td.sorted-column {
  background-color: #f7f7f7;
}
.table-wrap tbody tr:nth-child(odd):not(.hover):not(:hover) td.metric-highlight {
  background-color: #eff7fc;
}
.table-wrap tbody tr:nth-child(even):not(.hover):not(:hover) td {
  background-color: #f9f9f9;
}
.table-wrap tbody tr:nth-child(even):not(.hover):not(:hover) td.sorted-column {
  background-color: #f0f0f0;
}
.table-wrap tbody tr:nth-child(even):not(.hover):not(:hover) td.metric-highlight {
  background-color: #e2f0fa;
}
.table-wrap tbody tr:last-child:not(:hover):not(.hover):not(:first-child) td {
  border-bottom: 1px solid #dddddd;
}
.table-wrap td,
.table-wrap th {
  border: 1px solid #ebebeb;
  padding: 7px 10px;
  word-wrap: break-word;
}
.table-wrap td:first-child,
.table-wrap th:first-child {
  border-left-width: 0px;
}
.table-wrap td:last-child,
.table-wrap th:last-child {
  border-right-width: 0px;
}
.table-wrap th {
  background-color: #ebebeb;
  border-color: #dddddd;
  color: #8c8c8c;
  font-weight: normal;
  text-align: left;
}
.table-wrap th.center {
  text-align: center;
}
@font-face {
  font-family: "maticons";
  src: url("../fonts/maticons-56210e5a42f335da4f4619dafa9aacdc.eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "maticons";
  src: url("../fonts/maticons-56210e5a42f335da4f4619dafa9aacdc.eot");
  src: url("../fonts/maticons-56210e5a42f335da4f4619dafa9aacdc.eot?#iefix") format("embedded-opentype"), url("../fonts/maticons-56210e5a42f335da4f4619dafa9aacdc.woff") format("woff"), url("../fonts/maticons-56210e5a42f335da4f4619dafa9aacdc.ttf") format("truetype"), url("../fonts/maticons-56210e5a42f335da4f4619dafa9aacdc.svg?#maticons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="im-"]:before,
[class*=" im-"]:before {
  font-family: "maticons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.im-account:before,
.im-add:before,
.im-agency:before,
.im-alert-sm:before,
.im-alert:before,
.im-arrow-down:before,
.im-arrow-left:before,
.im-arrow-right:before,
.im-arrow-up:before,
.im-calendar:before,
.im-check:before,
.im-close:before,
.im-copy:before,
.im-delete:before,
.im-download:before,
.im-email:before,
.im-export:before,
.im-graph-bar:before,
.im-graph-line:before,
.im-graph-pie:before,
.im-help:before,
.im-menu:before,
.im-minus:before,
.im-mobile-apps:before,
.im-pause:before,
.im-pin:before,
.im-publishers:before,
.im-refresh:before,
.im-reports:before,
.im-save:before,
.im-search:before,
.im-settings:before,
.im-share:before,
.im-star:before,
.im-tune:before,
.im-twitter:before,
.im-view:before,
.e-fn-grid .table-header .header-cell.sortable:before,
.fn-grid .table-header .header-cell.sortable:before {
  font-family: "maticons";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
.im-account:before {
  content: "\f101";
}
.im-add:before {
  content: "\f102";
}
.im-agency:before {
  content: "\f103";
}
.im-alert-sm:before {
  content: "\f104";
}
.im-alert:before {
  content: "\f105";
}
.im-arrow-down:before {
  content: "\f106";
}
.im-arrow-left:before {
  content: "\f107";
}
.im-arrow-right:before,
.e-fn-grid .table-header .header-cell.sortable:before,
.fn-grid .table-header .header-cell.sortable:before {
  content: "\f108";
}
.im-arrow-up:before {
  content: "\f109";
}
.im-calendar:before {
  content: "\f10a";
}
.im-check:before {
  content: "\f10b";
}
.im-close:before {
  content: "\f10c";
}
.im-copy:before {
  content: "\f10d";
}
.im-delete:before {
  content: "\f10e";
}
.im-download:before {
  content: "\f10f";
}
.im-email:before {
  content: "\f110";
}
.im-export:before {
  content: "\f111";
}
.im-graph-bar:before {
  content: "\f112";
}
.im-graph-line:before {
  content: "\f113";
}
.im-graph-pie:before {
  content: "\f114";
}
.im-help:before {
  content: "\f115";
}
.im-menu:before {
  content: "\f116";
}
.im-minus:before {
  content: "\f117";
}
.im-mobile-apps:before {
  content: "\f118";
}
.im-pause:before {
  content: "\f119";
}
.im-pin:before {
  content: "\f11a";
}
.im-publishers:before {
  content: "\f11b";
}
.im-refresh:before {
  content: "\f11c";
}
.im-reports:before {
  content: "\f11d";
}
.im-save:before {
  content: "\f11e";
}
.im-search:before {
  content: "\f11f";
}
.im-settings:before {
  content: "\f120";
}
.im-share:before {
  content: "\f121";
}
.im-star:before {
  content: "\f122";
}
.im-tune:before {
  content: "\f123";
}
.im-twitter:before {
  content: "\f124";
}
.im-view:before {
  content: "\f125";
}
.e-fn-grid,
.fn-grid {
  position: relative;
}
.e-fn-grid .cell,
.fn-grid .cell {
  border-right: 1px solid #ebebeb;
  padding: 10px;
}
.e-fn-grid .table-header,
.fn-grid .table-header {
  border-color: #dddddd;
}
.e-fn-grid .table-header .header-cell,
.fn-grid .table-header .header-cell {
  background-color: #ebebeb;
  border-color: #dddddd;
  color: #8c8c8c;
  /**
       * @NOTE - Need to use :before due to chrome bug http://stackoverflow.com/questions/21715918/
       **/
}
.e-fn-grid .table-header .header-cell.sortable,
.fn-grid .table-header .header-cell.sortable {
  cursor: pointer;
}
.e-fn-grid .table-header .header-cell.sortable:before,
.fn-grid .table-header .header-cell.sortable:before {
  float: right;
  font-size: 10px;
  line-height: 23px;
  transition: transform .1s linear;
}
.e-fn-grid .table-header .header-cell.sortable.sorted-desc:before,
.fn-grid .table-header .header-cell.sortable.sorted-desc:before {
  transform: rotate(90deg);
}
.e-fn-grid .table-header .header-cell.sortable.sorted-asc:before,
.fn-grid .table-header .header-cell.sortable.sorted-asc:before {
  transform: rotate(-90deg);
}
.e-fn-grid .grid-body,
.fn-grid .grid-body {
  overflow: hidden;
}
.e-fn-grid .grid-body .row,
.fn-grid .grid-body .row {
  position: relative;
  transition: background-color 0.1s;
}
.e-fn-grid .grid-body .row:hover,
.e-fn-grid .grid-body .row.hover,
.fn-grid .grid-body .row:hover,
.fn-grid .grid-body .row.hover {
  background-color: rgba(37, 133, 199, 0.04);
  box-shadow: inset 0 1px 0 0 #b5b5b5, inset 0 -1px 0 0 #b5b5b5;
}
.e-fn-grid .grid-body .row:not(.hover):not(:hover),
.fn-grid .grid-body .row:not(.hover):not(:hover) {
  background-color: #f9f9f9;
}
.e-fn-grid .grid-body .row:not(.hover):not(:hover) .sorted-column,
.fn-grid .grid-body .row:not(.hover):not(:hover) .sorted-column {
  background-color: #f0f0f0;
}
.e-fn-grid .grid-body .row:not(.hover):not(:hover) .metric-highlight,
.fn-grid .grid-body .row:not(.hover):not(:hover) .metric-highlight {
  background-color: #e2f0fa;
}
.e-fn-grid .grid-body .row:nth-child(odd):not(.hover):not(:hover),
.fn-grid .grid-body .row:nth-child(odd):not(.hover):not(:hover) {
  background-color: #ffffff;
}
.e-fn-grid .grid-body .row:nth-child(odd):not(.hover):not(:hover) .sorted-column,
.fn-grid .grid-body .row:nth-child(odd):not(.hover):not(:hover) .sorted-column {
  background-color: #f7f7f7;
}
.e-fn-grid .grid-body .row:nth-child(odd):not(.hover):not(:hover) .metric-highlight,
.fn-grid .grid-body .row:nth-child(odd):not(.hover):not(:hover) .metric-highlight {
  background-color: #eff7fc;
}
.e-fn-grid-pager,
.grid-nav-wrapper {
  margin: 0 -25px;
}
.e-fn-grid-pager .grid-nav,
.grid-nav-wrapper .grid-nav {
  background: #ebebeb;
  height: 100px;
  width: 100%;
}
.e-fn-grid-pager .grid-nav > *,
.grid-nav-wrapper .grid-nav > * {
  height: 100px;
  vertical-align: middle;
}
.e-fn-grid-pager .grid-nav-size,
.grid-nav-wrapper .grid-nav-size {
  color: #b5b5b5;
  padding-right: 18px;
  padding-top: 5px;
  text-align: right;
}
.e-fn-grid-pager .grid-nav-size span,
.grid-nav-wrapper .grid-nav-size span {
  display: inline-block;
  margin-right: 15px;
}
.e-fn-grid-pager .grid-nav-size ol,
.e-fn-grid-pager .grid-nav-size li,
.grid-nav-wrapper .grid-nav-size ol,
.grid-nav-wrapper .grid-nav-size li {
  display: inline-block;
  font-size: 0px;
  margin: 0;
  padding: 0;
}
.e-fn-grid-pager .grid-nav-size li,
.grid-nav-wrapper .grid-nav-size li {
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}
.e-fn-grid-pager .grid-nav-size li > a,
.grid-nav-wrapper .grid-nav-size li > a {
  color: #b5b5b5;
}
.e-fn-grid-pager .grid-nav-size li:last-child,
.grid-nav-wrapper .grid-nav-size li:last-child {
  margin-right: 0px;
}
.e-fn-grid-pager .grid-nav-size li.selected > a,
.grid-nav-wrapper .grid-nav-size li.selected > a {
  color: #000000;
}
.e-fn-grid-pager .grid-nav-pager-wrap,
.grid-nav-wrapper .grid-nav-pager-wrap {
  width: 210px;
}
.e-fn-grid-pager .grid-nav-pager,
.grid-nav-wrapper .grid-nav-pager {
  border-left: 1px solid #dddddd;
  float: left;
  height: 100px;
  width: 100%;
}
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-next,
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-previous,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-next,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-previous {
  color: #000000;
  display: block;
  float: left;
  height: 100px;
  line-height: 102px;
  text-align: center;
  width: 99px;
}
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-next i,
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-previous i,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-next i,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-previous i {
  line-height: inherit;
}
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-next.disabled,
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-previous.disabled,
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-next[disabled],
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-previous[disabled],
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-next.disabled,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-previous.disabled,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-next[disabled],
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-previous[disabled] {
  color: #b5b5b5;
}
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-page-count,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-page-count {
  background-color: #ebebeb;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  float: left;
  font-size: 12px;
  line-height: 100px;
  padding: 0 10px;
  text-align: center;
  width: 140px;
}
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-page-count input,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-page-count input {
  background: #ebebeb;
  border-radius: 0;
  border-width: 0;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin: -2px 5px 0;
  padding: 0px 2px;
  text-align: center;
  width: 20px;
}
.e-fn-grid-pager .grid-nav-pager .grid-nav-pager-page-count input:focus,
.grid-nav-wrapper .grid-nav-pager .grid-nav-pager-page-count input:focus {
  background: #ffffff;
  border: 1px solid #dddddd;
}
.e-fn-grid-pager .grid-nav-pager .total-pages,
.grid-nav-wrapper .grid-nav-pager .total-pages {
  margin-left: 3px;
}
